:root {
  /* ============ 색상 변수 ============ */
  --background-white: #e1e3e5;
  --foreground-white: #18181b;
  --background-dark: #1b2332;
  --foreground-dark: #ffffff;

  --primary-900: #1a237e;
  --primary-800: #2834b6;
  --primary-700: #3245e1;
  --primary-600: #3f8efc; /* 기준 색상 */
  --primary-500: #5f75ff;
  --primary-400: #8d9eff;
  --primary-300: #b4c2ff;
  --primary-200: #d6deff;
  --primary-100: #f0f3ff;

  --success: #3b82f6;
  --error: #ec1f2d;

  --black: #18181b;

  --toastify-color-success: #3f8efc;

  /* ============ 폰트 패밀리 변수 ============ */
  --geist-sans: Arial, Helvetica, sans-serif;
  --geist-mono: monospace;

  /* ============ 폰트 크기 변수 ============ */
  /* 1rem = 16px 기준 */
  /* Display 1 */
  --display1-lg: 3.5rem; /* 56px */
  --display1-md: 3rem; /* 48px */
  --display1-sm: 2.25rem; /* 36px */

  /* Display 2 */
  --display2-lg: 2.5rem; /* 40px */
  --display2-md: 2.25rem; /* 36px */
  --display2-sm: 1.875rem; /* 30px */

  /* Title 1 */
  --title1-lg: 2.25rem; /* 36px */
  --title1-md: 2rem; /* 32px */
  --title1-sm: 1.75rem; /* 28px */

  /* Title 2 */
  --title2-lg: 1.75rem; /* 28px */
  --title2-md: 1.625rem; /* 26px */
  --title2-sm: 1.5rem; /* 24px */

  /* Title 3 */
  --title3-lg: 1.5rem; /* 24px */
  --title3-md: 1.375rem; /* 22px */
  --title3-sm: 1.25rem; /* 20px */

  /* Heading 1 */
  --heading1-lg: 1.375rem; /* 22px */
  --heading1-md: 1.25rem; /* 20px */
  --heading1-sm: 1.125rem; /* 18px */

  /* Heading 2 */
  --heading2-lg: 1.25rem; /* 20px */
  --heading2-md: 1.125rem; /* 18px */
  --heading2-sm: 1.0625rem; /* 17px */

  /* Headline 1 */
  --headline1-lg: 1.125rem; /* 18px */
  --headline1-md: 1.0625rem; /* 17px */
  --headline1-sm: 1rem; /* 16px */

  /* Headline 2 */
  --headline2-lg: 1.0625rem; /* 17px */
  --headline2-md: 1rem; /* 16px */
  --headline2-sm: 0.9375rem; /* 15px */

  /* Body 1 */
  --body1: 1rem; /* 16px */

  /* Body 2 */
  --body2: 0.9375rem; /* 15px */

  /* Label 1 */
  --label1: 0.875rem; /* 14px */

  /* Label 2 */
  --label2: 0.8125rem; /* 13px */

  /* Caption1 */
  --caption1: 0.75rem; /* 12px */

  /* Caption2 */
  --caption2: 0.6875rem; /* 11px */
}
